.status-bar {
  @apply scale-y-75 z-10 relative h-px w-full shrink-0 transform;

  &.loading::before {
    @apply scale-y-75 z-10 h-px absolute bottom-0 w-full left-0 top-0 transform;
    @apply bg-repeat;

    content: "";
    background: linear-gradient(90deg, transparent, #bbb, transparent);
    animation: move 2s steps(60) infinite;
  }
}

.content-visually {
  content-visibility: auto;
  contain-intrinsic-size: auto 38px;
}
