body::-webkit-scrollbar {
  height: 0;
}

html:not([data-viewport="mobile"]) {
  /*  for firefox */
  scrollbar-color: theme(colors.gray.300);
  scrollbar-width: thin;
}

html.dark:not([data-viewport="mobile"]) {
  scrollbar-color: theme(colors.neutral.500);
}

html:not([data-viewport="mobile"])[data-theme="dark"] {
  *::-webkit-scrollbar-thumb {
    border: 6px solid theme(colors.neutral.500);
  }

  *::-webkit-scrollbar-thumb:hover {
    background: theme(colors.neutral.400/0.5);
  }
}

html:not([data-viewport="mobile"]) *::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: 6px solid theme(colors.gray.300);
  @apply rounded-xl;
}

html:not([data-viewport="mobile"]) *::-webkit-scrollbar-thumb:hover {
  border-color: theme(colors.neutral.400/0.8);
}

html:not([data-viewport="mobile"]) *::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
  background: transparent;
}

html:not([data-viewport="mobile"]) *::-webkit-scrollbar-thumb {
  background: theme(colors.muted.DEFAULT);
}

html:not([data-viewport="mobile"]) *::-webkit-scrollbar-thumb:hover {
  background: theme(colors.muted.DEFAULT/80);
}

html:not([data-viewport="mobile"]) *::-webkit-scrollbar-corner {
  background: theme(colors.zinc.100);
}
