body, #root {
  @apply h-screen;
  @apply text-zinc-700;
  @apply cursor-default;

  font-family: 'SNPro', sans-serif;
}

.drag-region {
  -webkit-app-region: drag;
}

.no-drag-region {
  -webkit-app-region: no-drag;
}
