body,
#root {
  @apply h-screen;
  @apply text-zinc-700;
  @apply cursor-default;
  @apply select-none;

  font-family: "SN Pro", sans-serif;
}

.drag-region {
  -webkit-app-region: drag;
}

.no-drag-region {
  -webkit-app-region: no-drag;
}

button,
a {
  @apply cursor-default;
}

.prose a {
  @apply cursor-pointer;
}
