html,
#shadow-html {
  --fo-font-family: "SN Pro", system-ui, sans-serif;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html[data-viewport="desktop"],
html[data-viewport="desktop"] body,
html[data-viewport="desktop"] #shadow-html,
html[data-viewport="desktop"] #root {
  overscroll-behavior: none;
}

[data-viewport="mobile"] {
  *:not(input):not(textarea):not([contenteditable]) {
    @apply select-none;
  }
}

body,
#root {
  @apply h-auto lg:h-screen;
  @apply cursor-default;
  @apply select-none;
  /* @apply bg-white; */

  @apply font-theme;

  @apply print:overflow-auto print:h-auto;
}

:focus-visible {
  /* outline: theme(colors.theme.accent.DEFAULT) auto 1px; */
  outline: none;
}

button {
  cursor: var(--pointer);
}

.prose a {
  @apply cursor-pointer;
}

[data-theme="dark"] {
  color-scheme: dark;
}

::selection {
  @apply bg-accent/80 text-white;
}
