@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* shadcn colors */

  :root,
  #shadow-html {
    --radius: 0.5rem;
  }

  [data-theme="light"] {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --radius: 0.5rem;
  }

  [data-theme="dark"] {
    --background: 0 0% 7.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 0 0% 22.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-theme-foreground;
  }
}

.prose {
  table * {
    font-size: 1rem;
  }

  table table {
    margin: 0;
  }

  p {
    @apply break-words;
  }

  word-break: break-word;
}
