.recommendations-grid {
  --rows: 4;
  --max-item-width: 280px;
  --gap: 1em;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(
      max(var(--max-item-width), calc((100% - var(--gap) * (var(--rows) - 1)) / var(--rows))),
      1fr
    )
  );

  gap: 1em;
}

.recommendations-card {
  border-radius: 8px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.06) inset;
  border: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
