body,
#root {
  @apply h-screen;
  @apply cursor-default;
  @apply select-none;
  /* @apply bg-white; */

  --fo-font-family: "SN Pro", system-ui, sans-serif;
  @apply font-theme;
}

:focus-visible {
  /* outline: theme(colors.theme.accent.DEFAULT) auto 1px; */
  outline: none;
}

button,
a {
  @apply cursor-default;
}

.prose a {
  @apply cursor-pointer;
}

[data-theme="dark"] {
  color-scheme: dark;
}

::selection {
  @apply bg-theme-accent/20;
}
