:root {
  --fo-vibrancy-foreground: theme(colors.zinc.500);
  --fo-vibrancy-background: theme(colors.native.active);

  --fo-item-active: theme(colors.native.active/0.4);
  --fo-item-hover: theme(colors.native.active/0.2);

  --fo-tooltip-background: theme(colors.zinc.50/0.8);
  --fo-tooltip-foreground: theme(colors.neutral.950);
}

[data-theme="dark"] {
  --fo-vibrancy-foreground: theme(colors.zinc.400);
  /* --fo-vibrancy-background: theme(colors.zinc.600/10); */
  --fo-vibrancy-background: theme(colors.native.active);

  --fo-item-active: theme(colors.neutral.700/0.4);
  --fo-item-hover: theme(colors.native.active/0.2);

  --fo-tooltip-background: theme(colors.zinc.800/0.8);
  --fo-tooltip-foreground: theme(colors.zinc.100);
}
